<nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
        <!-- Left-aligned brand -->
        <a class="navbar-brand" href="#">Employee Management System</a>
        
        <!-- Navbar toggler button for small screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Right-aligned navigation items -->
        <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/emp/emphome/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/emp/add-emp/">Testimonial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/emp/add-emp/">Add Employee</a>
                </li>
               
            </ul>
        </div>
    </div>
</nav>
